**
!pyproject.toml
!uv.lock
!.python-version
!*.py
!gymemu/
!gymemu/**
!configs/
!configs/**
!start_states/
!start_states/**
!containers/
!containers/train/
!containers/train/**
!tests/
!tests/**
!README.md
!docs/
!docs/**
**/__pycache__/
**/*.pyc
